.contacts {
  padding-bottom: 295px;

  &__title {
    max-width: max-content;
    margin: 80px auto 152px;
  }

  &__list {
    @include flex-align-center(80);
    justify-content: center;
  }

  &__link {
    @include flex-center;
    width: 208px;
    height: 208px;
    background-color: $light-yellow;
    border: 7px solid $dark-orange;
    border-radius: 70px;
    transition: background-color .4s;

    &:hover {
      background-color: transparent;
    }

    &:focus {
      background-color: $dark-orange;
      svg path {
        fill: $white;
      }
    }
  }
}