.header {
  position: relative;
  z-index: 26;
  padding: 30px 0 18px;
  background-color: $light-yellow;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.24));

  &__inner {
    @include flex-between-center-gap(30);
  }

  &__list {
    @include flex-align-center(90);
  }

  &__link {
    font-size: 54px;
    line-height: 1;
    color: $dark-orange;
    border-radius: 6px;
    outline: 2px solid transparent;
    transition: color .4s, outline-color .4s;

    &:hover {
      color: $dark-green;
    }

    &:focus {
      outline-color: inherit;
    }
  }

  &__btn {
    border: 2px solid $black;
    background-color: $bright-green;
    border-radius: 50px;
    color: $white;
    padding: 18px 30px;
    font-size: 42px;
    transition: background-color .4s, color .4s;

    &:hover {
      background-color: transparent;
      color: $black;
    }

    &:focus {
      background-color: $white;
      color: $black;
    }
  }
}