<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="header__logo" src="images/logo.svg" width="138" height="138" alt="logo">
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link desktop" href="#about">About</a>
          </li>
          <li>
            <a class="header__link desktop" href="#tokenomics">Tokenomics</a>
          </li>
          <li>
            <a class="header__link desktop" href="#airdrop">Airdrop</a>
          </li>
          <li>
            <a class="header__link desktop" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn" type="button">Connect</button>
      <button class="menu-btn menu-btn--header" type="button">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Interact with menu</span>
      </button>
    </div>
  </div>
  <div class="header__mobile">
    <nav class="header__nav mobile">
      <button class="header__btn mobile" type="button">Connect</button>
      <ul class="header__list">
        <li>
          <a class="header__link mobile" href="#about">About</a>
        </li>
        <li>
          <a class="header__link mobile" href="#tokenomics">Tokenomics</a>
        </li>
        <li>
          <a class="header__link mobile" href="#airdrop">Airdrop</a>
        </li>
        <li>
          <a class="header__link mobile" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>