<!DOCTYPE html>
<html class="html" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Описание сайта">
  <meta http-equiv="content-type" content="public, max-age=3600">
  <meta name="theme-color" content="#F9FFE9">
  <title>$JERRY Coin</title>
  <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body class="body">